{% extends "main.html" %}
{% block content %}
   	  <div class="row btmpadding">
	  	<div class="col-lg-1 text-center"></div>
	  	<div class="col-lg-10">
	  		<div id="reg">
	  			<form id="auth" method="POST" action="{% url "index" %}">
	  						<span>Ваш логин: </span> <br>
				        	<input class="inputField" type="text" name="login" value="Логин">
				        	<br>
				        	<span>Ваш пароль: </span> <br>
				        	<input class="inputField" type="password" name="password" value="Пароль">
				        	<br>
				        	<br>
				        	<input type="submit" value="Войти" name="log">
				</form>
			</div>
	  		</div>
	  	<div class="col-lg-1 text-center"></div>
	  </div>
{% endblock %}